<div class = "rightside">
    <iframe class='pcload' width="100%" height="450" class="share_self"  frameborder="0"
        scrolling="no"
        src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=450&fansRow=1&ptype=0&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=2120543591&verifier=045e79b4&dpc=1"></iframe>
    <script class='pcload' type="text/javascript"
        src="http://www.douban.com/service/badge/D.o.v.e/?show=collection&amp;n=5&amp;columns=5&amp;hideself=yes&amp;hidelogo=yes&amp;cat=book"
        ></script>
</div>
